@font-face {
    font-family: font1;
    src: url(../fonts/lemon_milk/LEMONMILK-Medium.otf);
  }
  
  @font-face {
    font-family: 'font2';
    src: url(../fonts/peach_cake/PeachCake.otf);
  }

body {
    background-image: url(../pics/home/BackgroundSiteQuizWiz.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.welkomtekst {
    width: 30vw;
    text-align: center;
    background-color: rgb(87, 0, 6);
    border-radius: 30px;
    margin-left: 34vw;
    margin-top: 10vh;
    font-size: 15pt;
    color: white;
}

.welkomtekst h1 {
    font-family: font2;
}

.welkomtekst p {
    font-family: font1;
}