@font-face {
    font-family: font1;
    src: url(../fonts/lemon_milk/LEMONMILK-Medium.otf);
  }
  
  @font-face {
    font-family: 'font2';
    src: url(../fonts/peach_cake/PeachCake.otf);
  }
  
  body{
    background-image: url(../pics/kangaroo/kangaroo.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
  }
  
  .logo{
    height: 7vh;
  }
  .pages{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
    margin-left: 75vw;
    margin-top: 20px;
  }
  .buttons{
    font-family: font1;
  }
  /* Navbar container */
  .quizwiz{
      position: absolute;
      color: #fff;
      font-family: font2;
      font-size: 60pt;
      margin-top: 0vh;
      margin-left: 92vh;
  }
  
  .navbar {
    position:fixed;
    top: 0;
      overflow: hidden;
      background-color: #d6ab61;
      height: 10vh;
      width: 214.15vh;
      margin-left: -1vh;
      margin-top: -1vh;
    }
    /* Links inside the navbar */
  
    .navbar a {
      float: left;
      font-size: 18pt;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    /* The dropdown container */
    .dropdown {
      position: fixed;
      float: left;
      overflow: hidden;
      font-family: font1;
      margin-left: 30vh;
  
    }
    /* Dropdown button */
    .dropdown .dropbtn {
      font-size: 17pt;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
    }
    /* Add a red background color to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: rgb(168, 126, 10);
    }
    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: sticky;
      top: 0;
      background-color: #964B00;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    /* Links inside the dropdown */
    .dropdown-content a {
      position: sticky;
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    #quiz-container {
      height: auto;
      width: 50%;
      margin: auto;
      padding: 20px;
      border-radius: 4px;
      text-align: center;
      margin-top: 20vh;
  }
  .vraag-container{
      background-color: rgb(177, 154, 123);
      width: 100vh;
      height: 15vh;
      text-align: center;
      border: solid chocolate;
      border-radius: 8px;
  }
  
  .vraag-container h1{
  padding: 1vh;
  font-family: font2;
  font-size: 30pt;
  }
  .question {
      margin-top: 15vh;

  }
  
  .answer {
    font-family: font1;
      font-size: 20pt;
      display: inline-block;
      margin: 10px;
      padding: 10px;
      background-color: #a78d52;
      border-radius: 6px;
      cursor: pointer;
      width: 17vw;
      user-select: none;
      text-align: center;
  }
  
  .open-question textarea {
      width: 100%;
      padding-top: 3vh;
      background-color: rgb(250, 250, 250);
      font-weight: bold;
  }
  
  #result {
      margin-top: 100px;
      font-weight: bold;
      
  }
  /* Voeg deze regel toe aan je CSS om te voorkomen dat de gebruiker meerdere antwoorden selecteert */
  .answer.disabled {
      pointer-events: none;
      opacity: 0.6;
  }
  
  .feedback{
    font-family: font2;
      position: absolute;
      display: ruby;
      background-color: #ab760470;
      text-align: center;
      border-radius: 8px;
      padding-top: 1vh;
      width: auto; 
      height: auto;
  }

  .feedback-container {
    font-size: 15pt;
    margin-top: 5vh;
    margin-left: 5vh;
    width: 50vh;
  }

  .vragen{
    margin-top: 3vh;
  }

  .kang-info{
    width: 60rem;
    height: 40vh;
    background-color: #d6ab61de;
    position: absolute;
    margin-top: 14vh;
    font-size: 14pt;
    border-radius: 30px;
    margin-left: 57vh;;
  }
  .kang-info h2{
    width: 58rem;
    padding-left: 20px;
    font-family: font2;
  }

  .lees{
    width: 37.5vh;
    height: 5vh;
    background-color: #a78d52;
    border-radius: 2vh;
    margin-left: 85vh;
  }
  .lees h2{
    font-family: font1;
    padding: 1vh;
  }
  @media (max-aspect-ratio: 1/1){
    #quiz-container{
      width: 90%;
    }
    .question{
      margin-top: 0;
    }
    .vraag-container{
      max-width: 95%;
      height: 24vh;
    }
    .vraag-container h1{
      margin-bottom: 1vh;
    }

    .vragen {
      margin-top: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .answer{
    width: 140%;
  }

  .dropdown .navbar a{
    margin-right: 50vh;
  }
  }

