#quiz-container {
    width: 50%;
    margin: auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 4px;
}

.question {
    margin-bottom: 20px;
}

.answer {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.open-question textarea {
    width: 100%;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
/* Voeg deze regel toe aan je CSS om te voorkomen dat de gebruiker meerdere antwoorden selecteert */
.answer.disabled {
    pointer-events: none;
    opacity: 0.6;
}
